/* Current/active navbar link */
.center {
  text-align: center;
}
.page-title {
  font-size: 3rem;
}
a {
  text-decoration: none;
}
.mb1 {
  margin-bottom: .5rem;
}
.mt0 {
  margin-top: 0;
}
h3, .h3 {
  font-size: 1.5rem;
}
.gray, .mid-gray {
  color: #aaa;
}

.mt0 {
  margin-top: 0;
}
.regular {
  font-weight: 400;
}
.nameBox {
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content-header{
color: #4ba2ad;
}  
.nameColor{
color: white;
}
.divider{
border:  1px solid rgb(194, 192, 192);
background-color:  rgb(194, 192, 192);
}

 
.row{
  padding-bottom: 10px;
}
.portfolio-content{
  
  margin-top: 2%;
}
.portfolio-image-size{
   width: 300px;
   height: 300px;
   margin: 1%;
}

hr {
  border: none;
  height: 1px;
  color: #333; 
  background-color: #333; 
}
#container {
  min-height:100%;
  position:relative;
}
#body {
  padding:10px;
  padding-bottom:60px;  
}
#footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;   
  background:#6cf;
}